name: Meshsync Snapshot Build and Releaser (stable)
on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: build & release
    if: github.repository == 'meshery-extensions/kubectl-meshsync-snapshot' && startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'patch') && !contains(github.ref, 'alpha') && !contains(github.ref, 'beta') && !contains(github.ref, 'rc')
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@master
        with:
          go-version: "1.25"
      - name: goreleaser with tag
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_NOTES_PAT }}
          RELEASE_CHANNEL: "stable"
        with:
          version: 2
          args: release --clean --skip=validate
